.sectionP {
	margin-top: 4rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.titlePortifolio {
	font-size: 3rem;
	color: #00214d;
}

.projetos {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 2rem 4rem;
	border-radius: 1rem;
	gap: 2rem;
	justify-content: center;
}

.Listinside {
	list-style: inside;
}

.TextPortGap {
	display: flex;
	flex-direction: column;
	padding: 0 1rem;
	gap: 8px;
}

@media (max-width: 1280px) {
	.sectionP {
		margin-top: 1rem;
	}

	.projetos {
		padding: 1rem 2rem;
		border-radius: 0;
	}
	.TextPortGap {
		display: flex;
		flex-direction: column;
		gap: 4px;
	}
}

@media (max-width: 959px) {
	.titlePortifolio {
		font-size: 2rem;
	}
	.projetos {
		padding: 1rem 2rem;
		border-radius: 0;
	}
}
