.h1R, .types2 {
    color: #00214d;
}

.h1R {
    font-size: 4rem;
}

.types2 {
    font-size: 2rem;
}

.types2 {
    text-indent: 1rem;
    align-self: flex-start;
}

.type{
    text-decoration: underline;
    color: #ff5470;
}

.section_resume {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12rem 0;
    height: 250px;
}

.redes {
    display: flex;
    align-items: flex-start;
    margin-left: 1rem;
}


@media (max-width: 1280px){
    
    .h1R {
        font-size: 4rem;
    }
    
    .types2 {
        font-size: 2rem;
    }

    .section_resume {
            padding-top: 0rem;
    }
}

@media (max-width: 959px){
    .h1R {
        font-size: 2rem;
    }
    
    .types2 {
        font-size: 1.5rem;
        text-indent: 0;
    }

    .section_resume {
            padding: 1rem;
            padding-bottom: 4rem;
    }
    .redes {
        margin-left: 0;
    }

}