.sectionSobremim{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
}


.divSobremim {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fffffe;
    padding: 4rem;
    border-radius: 1rem;
    max-width: 1600px;
}

.titleS {
    color: #00214d;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.pSobre {
    font-weight: 500;
    color: #1b2d45;
    padding: 0rem;
    text-align: center;
    font-size: 1.5rem;
}

.pSobre span {
    color: #ff5470;
    font-weight: 800;
}


.titleH{
    color: #00214d;
    font-size: 2rem;
    margin: 2rem 0 1rem 0;
}

.habilidades {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

@media (max-width: 959px){

    .divSobremim {
        padding: 4rem 1rem;
        background-color: #fffffe;
    }

    .titleS {
        font-size: 2rem;
    }

    .titleH{
        font-size: 1.5rem;
    }
    
    .pSobre {
        font-size: 1.2rem;
    }

    .pSobre span{
        color: #00214d;
    }
}