.habilidadeDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(0,13,29);
    background: radial-gradient(circle, rgba(0,13,29,1) 0%, rgba(0,33,77,1) 100%);
    border-radius: 16px 16px 16px 16px;
    width: 8rem;
    height: 8rem;
    justify-content: center;
}

.habilidadeNome {
    font-size: 1.2rem;
    font-weight: 700;
    color: #ff5470;
}

.habilidadeImg {
    width: 4rem;
    height: 4rem;
}