#root {
  margin: 0 auto;
  padding: 0;
}

.showBalao {
  display: block;
}

.hideBalao {
  display: none;
}

.hideBotaoPort{
  display: none;
}

.showBotaoPort {
  display: flex;
}

.select {
  border-radius: 0;
  border-bottom: #00214d 4px solid;
  animation-duration: .1s;
  animation-name: appear-border;
}

.select:hover {
  background-color:transparent;
  padding: 0px;
  border-radius: 0px;
  color: #00214d;
  border-bottom: 4px solid #00214d;
  cursor:default;
}

@media (max-width: 1280px) {
  #root {padding: 0px;}
}