:root {
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light;
	background-color: #fffffe;
}

@font-face {
	font-family: "Roboto";
	src: url("/font/Roboto-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("/font/Roboto-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

* {
	list-style: none;
	margin: 0;
	padding: 0;
	text-decoration: none;
	word-wrap: break-word;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", system-ui, -apple-system, sans-serif;
	overflow-x: hidden;
}

body::-webkit-scrollbar {
	width: 8px;
}

body::-webkit-scrollbar-track {
	background: none;
	border-radius: 8px;
}

body::-webkit-scrollbar-thumb {
	background-color: #ff5470;
	border-radius: 20px;
}
