nav {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
  }
  
  .background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 80vw;
    border-radius: 0 1rem 1rem 0;
    background: rgb(0,145,123);
    background: linear-gradient(0deg, rgba(0,145,123,1) 0%, rgba(0,235,199,1) 100%);
  }
  
  button {
    outline: none;
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    position: absolute;
    top: 18px;
    left: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: transparent;
  }
  
  ul,
  li {
    margin: 0;
    padding: 0;
  }
  
  .navul {
    padding: 25px;
    position: absolute;
    top: 100px;
    width: 230px;
  }
  

.navli {
  color:#00214d;
  font-weight: 600;
  -webkit-stroke-color: black;
  -webkit-stroke-width: 1px;
}


  li {
    list-style: none;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  


  @media (min-width: 1281px){
    nav {
      display: none;
    }
  }
  